@model atwal_Quiz2.Models.inspection

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>inspection</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.property.propName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.property.propName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.staff.staffName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.staff.staffName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
