@model IEnumerable<atwal_Quiz2.Models.inspection>

@{
    ViewBag.Title = "Index";
}

<h2>Inspection</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.property.propName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.staff.staffName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.property.propName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.staff.staffName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
